<div class="card h-100 shadow p-3 mb-5 bg-warning-subtle rounded" (click)="onCardClick()"
    [class.disabled-card]="isCardDisabled()">
    <div class="card-header">
        {{ schedule?.Frequency }} {{schedule?.Attendance}}/{{schedule?.Capacity}}
    </div>
    <div class="image-container">
        <img [src]="schedule?.Activity?.Photo" class="card-img-top" alt="Activity Photo">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ schedule?.Activity?.Name }}</h5>
        <p class="card-text">{{ schedule?.Activity?.Description }}</p>
        <p class="card-text" *ngIf="schedule?.Frequency == 'Puntual'">
            Realización:{{ schedule?.DayOfWeek }}, {{ schedule?.StartDate | date: 'longDate'}}
        </p>
        <p class="card-text" *ngIf="schedule?.Frequency == 'Semanal'">
            Inicio: {{ schedule?.DayOfWeek }}, {{ schedule?.StartDate | date: 'longDate' }}
        </p>
        <p class="card-text" *ngIf="schedule?.Frequency == 'Semanal'">
            Finalización: {{ schedule?.DayOfWeek }}, {{ schedule?.FinishDate | date: 'longDate'}}
        </p>
    </div>
    <div class="card-footer">
        <small class="text-body-secondary">Tipo de Actividad: {{ schedule?.Type?.Name }}</small>
    </div>
</div>