<div class="card h-100 shadow p-3 mb-5 bg-warning-subtle rounded" (click)="onCardClick()">
    <div class="card-header">
        {{schedule?.Frequency}}
    </div>
    <img [src]="schedule?.Activity?.Photo" class="card-img-top" alt="Activity Photo">
    <div class="card-body">
        <h5 class="card-title">{{ schedule?.Activity?.Name }}</h5>
        <p class="card-text">{{ schedule?.Activity?.Description }}</p>

        <p class="card-text" *ngIf="schedule?.Frequency == 'Puntual'">Fecha de Realización: {{ schedule?.StartDate }}
        </p>
        <p class="card-text" *ngIf="schedule?.Frequency == 'Semanal'">Fecha de Inicio: {{ schedule?.StartDate }}</p>
        <p class="card-text" *ngIf="schedule?.Frequency == 'Semanal'">Fecha de Finalización: {{ schedule?.FinishDate }}
        </p>

    </div>
    <div class="card-footer">
        <small class="text-body-secondary">Tipo de Actividad: {{schedule?.Type?.Name}}</small>
    </div>
</div>