<form (ngSubmit)="submitForm()" enctype="multipart/form-data">
    <div>
        <label for="DNI">DNI:</label>
        <input type="text" id="DNI" name="DNI" [(ngModel)]="user.DNI" placeholder="Ingrese el DNI" required>
    </div>
    <div>
        <label for="Rol">Rol:</label>
        <select id="Rol" name="Rol" [(ngModel)]="user.Rol" required>
            <option value="Nominal">Nominal</option>
            <option value="Monitor">Monitor</option>
            <option value="Administrador">Administrador</option>
        </select>
    </div>
    <div>
        <label for="Name">Nombre:</label>
        <input type="text" id="Name" name="Name" [(ngModel)]="user.Name" placeholder="Ingrese el nombre" required>
    </div>
    <div>
        <label for="Surname_1">Primer Apellido:</label>
        <input type="text" id="Surname_1" name="Surname_1" [(ngModel)]="user.Surname_1"
            placeholder="Ingrese el primer apellido" required>
    </div>
    <div>
        <label for="Surname_2">Segundo Apellido:</label>
        <input type="text" id="Surname_2" name="Surname_2" [(ngModel)]="user.Surname_2"
            placeholder="Ingrese el segundo apellido" required>
    </div>
    <div>
        <label for="Email">Correo Electrónico:</label>
        <input type="email" id="Email" name="Email" [(ngModel)]="user.Email" placeholder="Ingrese el correo electrónico"
            required>
    </div>
    <div>
        <label for="Pass">Contraseña:</label>
        <input type="password" id="Pass" name="Pass" [(ngModel)]="user.Pass" placeholder="Ingrese la contraseña"
            required>
    </div>
    <div>
        <label for="DNI_tutor">DNI del Tutor:</label>
        <input type="text" id="DNI_tutor" name="DNI_tutor" [(ngModel)]="user.DNI_tutor" placeholder="Ingrese el DNI del tutor">
    </div>
    <div>
        <label for="Adress">Dirección:</label>
        <input type="text" id="Adress" name="Adress" [(ngModel)]="user.Adress" placeholder="Ingrese la dirección" required>
    </div>
    <div>
        <label for="Phone">Teléfono:</label>
        <input type="text" id="Phone" name="Phone" [(ngModel)]="user.Phone" placeholder="Ingrese el teléfono" required>
    </div>
    <div>
        <label for="BirthDay">Fecha de Nacimiento:</label>
        <input type="date" id="BirthDay" name="BirthDay" [(ngModel)]="user.BirthDay" placeholder="Ingrese la fecha de nacimiento">
    </div>
    <input type="file" name="Photo" (change)="onFileSelected($event)" accept="image/*">
    <button type="submit">Enviar</button>

</form>