<div class="container p-0 m-0" style="min-height: 100vh;">
    <div class="row justify-content-center mt-3">
        <div class="col-md-auto">
            <h1 class="text-primary shadow p-3 bg-body-tertiary rounded">Lista de Usuarios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary mb-3" (click)="navigateToRegister()">Registrar Usuario</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 p-2" *ngFor="let user of users">
            <app-user-card [user]="user" (userClicked)="onUserClicked($event)"></app-user-card>
        </div>
    </div>
</div>

<app-profile-info-modal [selectedUser]="selectedUser" (userDeleted)="ngOnInit()"></app-profile-info-modal>